.homepg {
    text-align: left;
    padding-left: 250px;
    padding-top: 130px;
    font-size: 30px;
    color: black;

    p{
        font-size: 35px;
        font-family: 'Montserrat';
        line-height: 1px;
        font-weight: 1000;
        
    }

    .c{
        font-size: 40px;
        color: yellow   ;
    }

    .d{
        font-size: 15px;
    }

    .but{
        background-color: transparent;
    }
}