body {
  margin: 0;
  font-family: 'Metal Mania';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/assets/hp-img.jpg');
  color: rgb(7, 11, 15);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}